<div class="pre-footer" id="contact" style="margin-top: 150px;">
    <div class="container" style="width: 70%;">
      <div class="row">
        <!-- BEGIN BOTTOM ABOUT BLOCK -->
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <h2>About us</h2>
          <!-- <p>
            Our site is the Content Management Site.<br>
            Clients can share posted contents on social sites.<br>
            Also, clients can vote famous contents.<br>
            A lot of clients are using our site and the number of logging clients is more than 1,000 everyday.<br>
            Hope more opinion of clients.
          </p> -->
        </div>
        <!-- END BOTTOM ABOUT BLOCK -->
        <div class="col-md-4 col-sm-6 pre-footer-col">
          <!-- BEGIN BOTTOM CONTACTS -->
          <h2>Our Contacts</h2>
        </div>
        <div class="col-md-4 col-sm-6 pre-footer-col">
            <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
                <h2>Newsletter</h2>
                <form action="#">
                  <div class="input-group">
                    <input type="text" placeholder="youremail@mail.com" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Subscribe</button>
                    </span>
                  </div>
                </form>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="footer">
    <div class="container" style="width: 70%;">
      <div class="row">
        <!-- BEGIN SOCIAL ICONS -->
        <div class="col-md-6 col-sm-6">
          <ul class="social-icons">
            <li><a class="rss" data-original-title="rss" href="https://www.phone.com"></a></li>
            <li><a class="facebook" data-original-title="facebook" href="https://www.facebook.com"></a></li>
            <li><a class="googleplus" data-original-title="googleplus" href="https://gmail.com"></a></li>
            <li><a class="linkedin" data-original-title="linkedin" href="https://www.linkedin.com"></a></li>
          </ul>
        </div>
        <!-- END SOCIAL ICONS -->
        
        <!-- BEGIN COPYRIGHT -->
        <div class="col-md-6 col-sm-6 pull-right">
            <div class="copyright pull-right"><%= new Date().getFullYear();%> © CMS Site.</div>
          </div>
        <!-- END COPYRIGHT -->
      </div>
    </div>
</div>