<div class="main" style="min-height: 400px;">
    <div class="user-container">
    <ul class="breadcrumb">
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12">
            <h1>Search Category</h1>
            <div class="content-page">
                <div class="content-search-view2">
                    <div class="input-group">
                        <input type="search" class="form-control" id="keyword" placeholder="Search..." autofocus>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" id="btn_search">Search</button>
                        </span>
                    </div>
                </div>
                <div class="portlet ">
                    <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-tags"></i>Categories
                    </div>
                    </div>
                    <div class="portlet-body util-btn-margin-bottom-5 text-center" id="div_categories">
                    </div>
                </div>
                <div class="pull-right">
                    <p id="paginater">
                    </p>
                </div>

            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    </div>
</div>
<script src='../../js/user/search.js'></script>